@using My_Library.Entities;
@model IEnumerable<Library>
@{
    ViewData["Title"] = "Home Page";
}

<div class="ayinside">
    <div class="ay_card">
        <div class="ay_card_image">
            <img src="https://m.media-amazon.com/images/I/41-BGQaEFbL._AC_SY1000_.jpg" alt="...">
        </div >       
        <div class="ay_card_title">
            <p class="ay_card_text-Name">Nutuk</p>
            <p class="ay_card_text-Author">Mustafa Kemal Atatürk</p>
            <a href="#" class="btn btn-primary col-12">Details</a>
        </div>
    </div>
    </div>