<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Libray</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/My_Library.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
   
</head>
<body>
    <div class="container-fluid bg-dark bg-opacity-25 p-3 d-flex h-100 ">
        <div class="ay_left bg-dark d-block ay_rounded-left">
            <div class="col-11 d-block m-auto">
                <div class="d-flex my-2">
                    <input type="button" class="btn col-2" style="color:wheat" value="<" onclick="history.back()">
                    <input type="button" class="btn col-2" style="color:wheat" value=">" onclick="history.forward()">
                </div>
            </div>          
            <a asp-action="Views" asp-controller="Library" class="btn btn-dark my-3 col-10 d-block m-auto">
                <div class="d-flex">
                    <img class="left_img" src="/icon/book.png" alt="" />
                    <p class=" text-white text-decoration-none offset-1 text-start lead left_text my-auto"> My Libray </p>
                </div>
            </a>
            <hr class="ay_hr col-10" />

            <a asp-action="Index" asp-controller="Library" class="btn btn-dark my-3 col-10 d-block m-auto">
                <div class="d-flex" >
                    <img class=" left_img" src="/icon/list.png" alt="" />
                    <p class="  text-white text-decoration-none offset-1 text-start lead left_text my-auto"> Book List</p>
                </div>
            </a>
            <a asp-action="Create" asp-controller="Library" class="btn btn-dark my-3 col-10 d-block m-auto">
                <div class="d-flex" >
                    <img class=" left_img" src="/icon/addbook.png" alt="" />
                    <p class=" text-white text-decoration-none offset-1 text-start lead left_text my-auto"> Add Book</p>
                </div>
            </a>
            <a asp-action="Search" asp-controller="Library" class="btn btn-dark my-3 col-10 d-block m-auto">
                <div class="d-flex" >
                    <img class=" left_img" src="/icon/search.png" alt="" />
                    <p class=" text-white text-decoration-none offset-1 text-start lead left_text my-auto"> Filter Book</p>
                </div>
            </a>
            <a href="~/Excel/ExportExcel" class="btn btn-dark my-3 col-10 d-block m-auto">
                <div class="d-flex" >
                    <img class=" left_img" src="/icon/excel.png" alt="" />
                    <p class=" text-white text-decoration-none offset-1 text-start lead left_text my-auto">Send Excel</p>
                </div>
            </a>
            <hr class="ay_hr col-10" />
            <a asp-action="Index" asp-controller="BookTypes" class="btn btn-dark my-3 col-10 d-block m-auto">
                <div class="d-flex ">
                    <img class=" left_img" src="/icon/addtype.png" alt="" />
                    <p class=" text-white text-decoration-none offset-1 text-start lead left_text my-auto"> Book Type  </p>
                </div>
            </a>
            <div class="col-10 m-auto ay_lt">
                <p class="">@DateTime.Now.ToShortDateString()</p>
                <p class="">Created By //aylmz</p>
            </div>
        </div>
        <div class="ay_right d-block h-100">
            <div class="bg-white">
                <main role="main" class="container-fluid bg-dark bg-opacity-25">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>


    <script>

        (function () {
            var $body = document.body
                , $menu_trigger = $body.getElementsByClassName('menu-trigger')[0];

            if (typeof $menu_trigger !== 'undefined') {
                $menu_trigger.addEventListener('click', function () {
                    $body.className = ($body.className == 'menu-active') ? '' : 'menu-active';
                });
            }

        }).call(this);
    </script>
    <script src="https://kit.fontawesome.com/6c19264a14.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>