<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Libray</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
</head>
<body>
    <div class="container-fluid bg-dark bg-opacity-25 p-3 d-flex h-100">
        <div class="col-2 bg-dark d-block ">
            <div class="row d-block">
            <div class="d-flex">
                <input type="button" class="btn col-3" style="color:wheat" value="<" onclick="history.back()">
                <input type="button" class="btn col-3" style="color:wheat" value=">" onclick="history.forward()">
            </div>
            </div>
            <div class="btn btn-dark my-3 col-10 d-flex">
                <img class="align-self-start col-2" src="/icon/book.png" alt="" width="20" />
                <a class="align-item-end col-9 text-white" asp-action="Views" asp-controller="Library"> My Libray</a>
            </div>
            <hr class="ay_hr col-10" />
            <div class="btn btn-dark my-3 col-10 d-flex">
                <img class="align-self-start col-2" src="/icon/list.png" alt="" width="20" />
                <a class="align-item-end col-9 text-white" asp-action="Index" asp-controller="Library"> Book List</a>
            </div>
            <div class="btn btn-dark my-3 col-10 d-flex">
                <img class="align-self-start col-2" src="/icon/addbook.png" alt="" width="20" />
                <a class="align-item-end col-9 text-white" asp-action="Create" asp-controller="Library"> Add Book</a>
            </div>
            <div class="btn btn-dark my-3 col-10 d-flex">
                <img class="align-self-start col-2" src="/icon/search.png" alt="" width="20" />
                <a class="align-item-end col-9 text-white" asp-action="Search" asp-controller="Library"> Filter Book</a>
            </div>
            <div class="btn btn-dark my-3 col-10 d-flex">
                <img class="align-self-start col-2" src="/icon/excel.png" alt="" width="20" />
                <a class="align-item-end col-9 text-white" href="~/Excel/ExportExcel">Send Excel</a>
            </div>
            <hr class="ay_hr col-10" />
            <div class="btn btn-dark my-3 col-10 d-flex">
                <img class="align-self-start col-2" src="/icon/addtype.png" alt="" width="20" />
                <a class="align-item-end col-9 text-white" asp-action="Index" asp-controller="BookTypes"> Book Type</a>
            </div>
        </div>
        <div class="col-10 d-block h-100">
            <div class="bg-white">
                <main role="main" class="container-fluid bg-dark bg-opacity-25">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>   

    <script src="https://kit.fontawesome.com/6c19264a14.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>