html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    flex-wrap: wrap;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.aybg {
    background-color: rgba(255, 255, 255, 0.5)

}

.aybgi {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgb(92,99,106), rgba(0, 0, 0, 0)) !important;
   /* box-shadow: 0px 0px 6px 1px black !important;*/
}

body {
    background-image: linear-gradient(90deg, rgba(10, 10, 10, 0.6), rgba(60, 60, 60, 1));
    margin: auto;
    width:90%;
    min-height:90%;
}

.ay_rounded-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.cl-o{
    background-color:rgb(245 166 35) !important;
}

.ay_card {
    flex-wrap: wrap;
    width: 210px;
    max-height: 390px;
    min-height: 390px;
    display: flex;
}

.ay_card_image {
    width: 14rem;
    max-height: 20rem;
    min-height: 20rem;
    margin: auto;
    display: flex;
}

.ay_card_title {
    width: 190px;
    display: block;
    text-align: left;
}

.ay_card_image img {
    width: 14rem;
    max-height: 20rem;
    min-height: 20rem;
    padding:0.5rem;
}

.ay_card_text-Name {
    font-size: 14px;
    font-weight: 500;
}

.ay_card_text-Author {
    font-size: 14px;
    font-weight: 700;
}

.ay_dimage {
    width: 280px;
    left:10px;
    display: flex;
}

.ay_dimage img {
    width: 260px;
    left:0px;
    max-height:auto;
    min-height: auto;
    border-radius: 10px;
}

#navbar {
    overflow:auto;
    overflow-x:hidden;
    top: 0;
    transition: top 0.3s;
    height:89%;
}

#navbarView {
    overflow: auto;
    overflow-x: hidden;
    top: 0;
    transition: top 0.3s;
    height: 100%;
}

#navbarsearch {
    overflow: auto;
    overflow-x: hidden;
    top: 0;
    transition: top 0.3s;
    height: 87%;
}

.ay_counter{
    font-size:24px;
    color:purple;
    z-index=-999;
    margin-right=10px;
    background-color:white;
}

.ay_hr {
    background-color: rgb(86, 173, 178);
    height: 5px;
    margin: auto;
    background-image: linear-gradient(to right, seagreen, rgb(86, 173, 178), rgba(86, 173, 178, 0.2));
    box-shadow: 0px 0px 6px 1px rgb(86, 173, 178);
}

.ay_lt {
    position: relative;      
    top: 460px;
}

.ay_lt p {
        text-align: center;
        font-size: 32px;
        color: rgb(86, 173, 178);
        /* box-shadow: 0px 0px 6px 1px aqua;*/
    }
