html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.aybg {
    background-color: rgba(255, 255, 255, 0.5)

}

.aybgi {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgb(92,99,106), rgba(0, 0, 0, 0)) !important;
   /* box-shadow: 0px 0px 6px 1px black !important;*/
}

body {
    background-image: linear-gradient(90deg, rgba(10, 10, 10, 0.6), rgba(60, 60, 60, 1));
    margin: auto;
    width:90%;
    min-height:90%;
}

.aymain {
    width: 1820px;
    background-color: rgb(92,99,106);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
}

.ayinside {
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    padding: 5px;
    gap: 5px;
}

.ayheader {
    width: 1820px;
    min-width: 400px;
    height: 50px;
    display: inline-block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px;
    z-index: 0;
}

.ayrightpanel {
    display: flex;
    width: 1580px;
    background-color: rgb(92,99,106);
    border-bottom-right-radius: 20px;
    min-height: 960px;
    margin: auto;
}

.ayleftpanel {
    margin-left: 0px;
    display: inline-block;
    width: 240px;
    height: 960px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px;
    z-index: 1;
    position:relative;
}

.ay_leftpanel p {
        font-size: 14px;
        flex-wrap: wrap;
        display: block;
        color: white;
        margin: 20px;
        text-align: center;
    }

.ay_leftpanel_text {
    font-size: 100%;
    margin: 10px;
    bottom: 0px;
    position: fixed;
    text-align: center;
}

.ay_rightpanel {
    flex-wrap: nowrap;
    display: flex;
    max-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 1px;
    border-color: blue;
    scroll-behavior: auto;
}

.cl-o{
    background-color:rgb(245 166 35) !important;
}

.btn {
    display: block;
    margin: auto;
}

.btn a {
        text-decoration: none;       
    }

.ay_card {
    flex-wrap: wrap;
    width: 210px;
    max-height: 390px;
    min-height: 390px;
    display: flex;
}

.ay_card_image {
    width: 14rem;
    max-height: 20rem;
    min-height: 20rem;
    margin: auto;
    display: flex;
}

.ay_card_title {
    width: 190px;
    display: block;
    text-align: left;
}

.ay_card_image img {
    width: 14rem;
    max-height: 20rem;
    min-height: 20rem;
    padding:0.5rem;
}

.ay_card_text-Name {
    font-size: 14px;
    font-weight: 500;
}

.ay_card_text-Author {
    font-size: 14px;
    font-weight: 700;
}

.ay_dimage {
    width: 280px;
    left:10px;
    display: flex;
}

.ay_dimage img {
    width: 260px;
    left:0px;
    max-height:auto;
    min-height: auto;
    border-radius: 10px;
}

#navbar {
    overflow:auto;
    overflow-x:hidden;
    top: 0;
    transition: top 0.3s;
    height:89%;
}

#navbarView {
    overflow: auto;
    overflow-x: hidden;
    top: 0;
    transition: top 0.3s;
    height: 100%;
}

#navbarsearch {
    overflow: auto;
    overflow-x: hidden;
    top: 0;
    transition: top 0.3s;
    height: 87%;
}

.ay_counter{
    font-size:24px;
    color:purple;
    z-index=-999;
    margin-right=10px;
    background-color:white;
}

.ay_hr {
    background-color: rgb(86, 173, 178);
    height: 5px;
    margin: auto;
    background-image: linear-gradient(to right, seagreen, rgb(86, 173, 178), rgba(86, 173, 178, 0.2));
    box-shadow: 0px 0px 6px 1px rgb(86, 173, 178);
}

.ay_lt {
    position: relative;      
    margin: auto;
    top: 500px;
}

    .ay_lt p {
        text-align: center;
        font-size: 32px;
        color: rgb(86, 173, 178);
        /* box-shadow: 0px 0px 6px 1px aqua;*/
    }
