@model My_Library.Entities.BookType
@{
    ViewData["Title"] = "Create";
}
<div class="h-100">
    <br />
<h3>Add Book Type</h3>
<hr/>
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-3">
                <h5>
                    Book Type
                </h5>
              @*  <label asp-for="Name" class="control-label"></label>*@
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Create" class="btn btn-primary col-12" />
            </div>
        </form>
        <div>
            <a class="btn btn-outline-secondary col-12" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
