@model IEnumerable<My_Library.Entities.BookType>
@{
    ViewData["Title"] = "Index";
}
<div class="h-100">
    <br />
<h3 class="my-2">Book Type List</h3>

<div class="container-fluid">
    <div class="row col-2 my-1">
        <a class="btn btn-outline-success " asp-action="Create">Add New Book Type</a>
    </div>
</div>
<br />

<div class="container col-4 float-start">
    @foreach (var item in Model)
    {
        <div class="row my-1 aybgi">
            <div class="col-6 align-self-center">
                <h5 class="">
                    @Html.DisplayFor(modelItem => item.Name)
                </h5>
            </div>
            <div class="col-6 float-end align-content-around">
                <div class="row my-1">
                    <a class="btn btn-success col-5" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger col-5" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
</div>
