@model My_Library.Entities.Library

@{
    ViewData["Title"] = "Create";
}
<div class="h-100">
    <br />
<h3 class="">Add New Book</h3>

<hr />
<div class="row">
    <div class="col-md-4 col-sm-3">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="BookTypeId" class="control-label"></label>
                <div class="d-flex">
                    <select asp-for="BookTypeId" class="form-select" asp-items="ViewBag.BookTypeId"> </select> <span class="vr mx-1"></span>
                    <button type="button" onclick="AddType()" value="+" class="btn btn-outline-success col-md-1">+</button>
                </div>
                <span asp-validation-for="BookType" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Where" class="control-label"></label>
                <input asp-for="Where" class="form-control" />
                <span asp-validation-for="Where" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-select" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control" rows="2" /> </textarea>
            </div>
            <div class="form-group my-2">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Create" class="btn btn-primary col-12"/>
            </div>
            <div class="my-2">
                <a class="btn btn-secondary col-12" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    function AddType() {
        var myModal = new bootstrap.Modal(document.getElementById("myModal"));
        myModal.show();
    };
</script>

<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-autoheight" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myNodal">Add Book Type</h5>
            </div>
            <div class="modal-body">
                <form asp-action="Create2" asp-controller="BookTypes">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group my-3">
                        <h6>
                           Book Type
                        </h6>
                        <br />
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group my-3">
                        <input type="submit" value="Create" class="btn btn-primary col-12" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">My Libray</strong>
            <small>Recorded</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
           Added Book Your Database.
        </div>
    </div>
</div>
<script>
    const toastTrigger = document.getElementById('liveToastBtn')
    const toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
            const toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }
</script>*@