@using My_Library.Entities;
@model IEnumerable<Library>
@{
    ViewData["Title"] = "Home Page";
    int counter = 0;
}
<div class="ayinside" id="navbarView">
    @foreach (var item in Model)
    {
        counter++;
        <div class="card mx-1 my-1 bg-dark text-white rounded-4" style="width:15rem">
            <div class="ay_card_image align-self-center">
                <img src="~/Img/@item.Image" class="my-1" alt="...">
            </div>
            <div class="card-body">
                <p class="card-text ay_card_text-Name">@item.Name</p>
                <p class="card-text ay_card_text-Author">@item.Author</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning cl-o col-12">Details - @counter</a>
            </div>
        </div>
    }
</div>
<script>
    function BookDetails() {
        var myModal = new bootstrap.Modal(document.getElementById("myModal"));
        myModal.show();
    };
</script>