@using My_Library.Entities;
@model IEnumerable<Library>
@{
    ViewData["Title"] = "Home Page";
    int counter = 0;
}
<div class="container-fluid" id="navbarView">
    <div class="row gx-2 gx-lg-3 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6  justify-content-center ">

        @foreach (var item in Model)
        {
            counter++;
            <div class="container">
                @*<a asp-action="Details" asp-route-id="@item.Id" onmouseover="ShowBook()" >
            <div class="tile">
            <img src='~/Img/@item.Image' /><span class="position-absolute badge rounded-pill bg-success "> @counter </span>
            </div>
            </a>*@
                <div class="tile">
                    <img src="~/Img/@item.Image" alt="Thumbnail Image" onclick="openLightbox('Img/@item.Image')"> <span class="position-absolute badge rounded-pill bg-success "> @counter </span>
                </div>
            </div>

            <div id="lightbox" onclick="closeLightbox()">
                <div class="col-6 d-flex m-auto">
                    <img src="" alt="Lightbox Image">
                    </div >
                <div class="col-6 d-flex m-auto">
                    <a class="btn btn-primary btn-state col-4" asp-action="Details" asp-route-id="@item.Id">
                        Details
                    </a>
                </div>
            </div>

        }
    </div>


    <script>
        function openLightbox(imageUrl) {
            // Set the lightbox image source to the clicked thumbnail's source
            var lightboxImage = document.querySelector('#lightbox img');
            lightboxImage.src = imageUrl;
            // Show the lightbox
            var lightbox = document.getElementById('lightbox');
            lightbox.style.display = 'block';
        }

        function closeLightbox() {
            // Hide the lightbox
            var lightbox = document.getElementById('lightbox');
            lightbox.style.display = 'none';
        }
    </script>

