@using My_Library.Entities;
@model IEnumerable<Library>
@{
    ViewData["Title"] = "Home Page";
    int counter = 0;
}
<div class="container-fluid" id="navbarView">
    <div class="row gx-2 gx-lg-3 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6  justify-content-center ">

        @foreach (var item in Model)
        {
            counter++;  
            <div class="container" >
                <a asp-action="Details" asp-route-id="@item.Id">
                    <div class="tile">
                        <img src='~/Img/@item.Image' /><span class="position-absolute badge rounded-pill bg-success "> @counter </span>
                    </div>
                </a>
            </div>
        }
    </div>
</div>